footer{
	/*background-color:#fbfbfb;*/
	border-top:none;
}
footer .brandFooter{
	margin-bottom:5px;
}
@media only screen and (max-width: 992px) {
	footer .brandFooter{
		margin-bottom:30px;
	}
}
.brandFooter{
	max-width: 110px !important;
}
@media only screen and (max-width: 992px) {
	.CentroResponsive{
		text-align:center;
	}
}
.FooterPalabras{
	display:flex;
	float: right !important;
	color: #FFF;
}
@media only screen and (max-width: 992px) {
	.FooterPalabras{
		display:block !important;
		float: none !important;
		color: #FFF;
	}
}
.FooterPalabras span, .FooterPalabras span a{
	margin-left:15px;
	margin-top: 28px;
	font-size: 13.5px;
}
.FooterPalabras span, .FooterPalabras span a{
	color: #FFF !important;
}
.bottomWtsp{
	max-width: 238px;
	float:right;
}
@media only screen and (max-width: 992px) {
	.bottomWtsp{
		float:none;
		margin-top:10px;
	}
}
.copyRight{
	font-size:12px;
	color:#fff !important;
}
.DatosFooter{
	font-size:15px;
	color:#fff !important;
	/*margin-right:20px;*/
}
@media only screen and (max-width: 992px) {
	.DatosFooter{
		margin-bottom:15px;
	}
}
.ContRightDatos{
	margin-top:28px;
}
.contenidoDatos{
	display:flex;
	justify-content: space-between;
}
@media only screen and (max-width: 992px) {
	.contenidoDatos{
		display:flex;
		flex-direction: column;
	}
}
.fb{
	width: 35px;
	height: 35px;
	margin-top: -9px;
}
@media only screen and (max-width: 992px) {
	.fb{
		margin: 0 auto;
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-bottom:40px;
	}
}
.BotFrecuentes{
	margin-top: -53px;
}
@media only screen and (max-width: 664px) {
	.BotFrecuentes{
		width:100%;
		margin-top: -35px;
	}
}
.destacadosCirc .ico img, .destacadosCirc2 .ico img.paso{
	width: 27%;
}
@media only screen and (max-width: 664px) {
	.destacadosCirc .ico img, .destacadosCirc2 .ico img.paso{
		min-width:70px;
	}
}
.destacadosCirc .ico img, .destacadosCirc2 .ico img.paso{
	width: 27%;
}
@media only screen and (max-width: 664px) {
	.destacadosCirc .ico img, .destacadosCirc2 .ico img.paso{
		min-width:70px;
	}
}
.color_gris{
	color:#5c5c5c !important;
}
.separaPaso{
	margin-bottom:10px !important;
}

.headContacto{
	padding: 20px;
	background-color: #ff8f3d;
	font-size: 24px;
	color: #fff;
	font-weight: 500;
	border-radius: 12px 12px 0 0;
}
.contactoCuadro{
	width:50%;
	margin-left: 330px;
	margin-top: 55px;
	border-radius: 12px;
	-webkit-box-shadow: 0px 4px 26px rgba(0,0,0,0.1);
}
.contactoCuadro .observaciones{
	width:208%;
	height: 180px;
}
.headQuienes{
	padding: 20px;
	background-color: #1ba74d;
	font-size: 24px;
	color: #fff;
	border-radius: 12px 12px 0 0;
}
.contactoQuienes{
	width:50%;
	border-radius: 12px;
	-webkit-box-shadow: 0px 4px 26px rgba(0,0,0,0.1);
}
.observaciones{
	padding-bottom: 38% !important;
}
.tambienP{
	margin-left: 420px;
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 10px;
}
.cajaFun{
	padding-top: 60px !important;
}
.muySimple{
	color: #1ba74d;
}
.lineaVerde{
	background-color: #1ba74d;
	height: 130px;
}
.lineaVerde .comoFun {
	padding: 31px 0px 5px 141px;
	font-size: 40px;
	text-align: left;
	letter-spacing: -1px;
	color: white;
}
.lineaVerde2{
	background-color: #1ba74d;
	height: 130px;
}
.lineaVerde2 .comoFun {
	padding: 31px 0px 5px 141px;
	font-size: 40px;
	text-align: left;
	letter-spacing: -1px;
	color: white;
}
.lineaNaranja{
	background-color: #ff8f3d;
	height: 130px;
}
.lineaNaranja .comoFun {
	padding: 31px 0px 5px 141px;
	font-size: 40px;
	text-align: left;
	letter-spacing: -1px;
	color: white;
}
.lineaNaranja2{
	background-color: #ff8f3d;
	height: 130px;
}
.lineaNaranja2 .comoFun {
	padding: 31px 0px 5px 141px;
	font-size: 40px;
	text-align: left;
	letter-spacing: -1px;
	color: white;
}
@media only screen and (max-width: 664px) {
	.comoFun{
		font-size: 34px !important;
		padding: 70px 0px 0px 35px !important;
	}
	.lineaNaranja{
		height: 183px;
	}
	.lineaVerde{
		height: 149px;
	}
	.lineaVerde2{
		height: 187px;
	}
	.cajaFun{
		padding-top: 17px !important;
	}
	.pediTu{
		width: 90% !important;
	}
	.filaOne{
		margin-left: 34px !important;
	}
	.filaTwo{
		margin-left: 34px !important;
	}
	.cajaReq p{
		font-size: 18px !important;
		line-height: 21px !important;
		padding: 10px;
	}
	.text1{
		height: 100px !important;
		padding-top:31px !important;
	}
	.text2{
		height: 155px !important;
		padding-top: 0px !important;
	}
	.text3{
		height: 155px !important;
	}
	.text4{
		height: 155px !important;
	}


}
.pediTu{
	width:500px;
	padding-bottom: 50px;
	padding-top: 20px;
}
.pediTu2{
	width:350px;
	padding-bottom: 50px;
	padding-top: 20px;
}
.quienesCuadro{
	padding-bottom: 5%;
	margin-left: 330px;
	margin-top: 55px;
	width: 100%;
	padding-right: 0px;
	margin-right: 0px;
}
@media only screen and (max-width: 664px) {
	.quienesCuadro{
		margin-left: 30px !important;
		width: 167%;
	}
	.textQuienes{
		padding: 31px 27px 23px 27px !important;
		text-align: center !important;
	}
	.textQuienes2{
		padding: 0px 14px 0px 14px;
	}
	.pediTu2{
		width: 250px !important;
		padding-bottom: 18px;
	}
}
.textQuienes{
	padding: 40px 88px 0px 84px;
	color: #5c5c5c;
	text-align: justify;
	font-weight: 500;
}
.textQuienes2{
	color: #ff8f3d;
	text-align: center;
	font-weight: 500;
}
.pregF{
	background-color: #fe9243 !important;
}
.panel-heading2{
	background-color: #fe9243 !important;
}
.cajaPreg{
	width: 80% !important;
	margin-left: 70px;
	margin-top: 35px !important;
	margin-bottom: 130px !important;
}
.signoMas{
	position: absolute;
}
.porques{
	width:100%;
}
.bloqueNa div{
	color: white;
	letter-spacing: 0.75px;
	font-size: 15px;
	line-height: 1.6;
	padding: 16px;
	padding-bottom: 0;
	font-weight: 500;
	background-color: #fe9243 !important;
	width: 50% !important;
}
.textReq{
	padding-bottom: 65px !important;
	padding-left: 141px !important;
	padding-right: 82px !important;
	text-align: justify;
	padding-top: 65px !important;
}
.textReq2{
	padding-bottom: 89px !important;
	padding-left: 76px !important;
	padding-right: 157px !important;
	text-align: justify;
	padding-top: 65px !important;
}
.row2{
	margin-right: 0px !important;
}
.cajaReq{
	border-radius: 10px;
	border: 3px solid #1ba74d;
	width: 305px;
	height: 195px;
	margin-left: 176px;
}
.cajaReq p{
	color: #1ba74d;
	font-weight: 700;
	text-align: center;
	font-size: 26px;
	line-height: 31px;
}
.filaOne{
	margin-bottom: 67px;
}
.cajaReq2{
	padding-top: 30px !important;
}
.text1{
	padding-top: 57px;
}
.text2{
	padding-top: 30px;
}
.text3{
	padding-top: 44px;
}
.text4{
	padding-top: 44px;
}
.cajaCont{
	padding: 20px 15px 0px 15px;

}
.cajaCont2{
	padding: 2px 15px 0px 15px;

}
.cajaCont3{
	padding: 10px 15px 2px 15px;

}
.iconoS{
	width: 33% !important;
}
.textI{
	line-height: 33px;
	margin-top: -15px;
}
.col34{
	margin-top: -15px;
}
.whaps2{
	padding-top: 5px;
}
.form1{
	width: 102%;
	margin-top: -2%;
	margin-left: -1%;
}
.form2, .form4{
	width: 108%;
	margin-top: -2%;
	margin-left: -4%;
}
.introTer{
	color: #1ba74d;
	font-size: 18px;
	line-height: 25px;
}
.h1CenterLine2 {
	position: relative;
	padding-bottom: 20px;

}
@media (min-width: 992px) {
	.h1CenterLine2:after {
		position: absolute;
		content: " ";
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		top: 38px;
		left: 0;
		z-index: 1;
	}
}
@media only screen and (max-width: 664px) {
	.iconosReq{
		margin-top: 5px !important;
		margin-bottom: 0px !important;
	}
	.iconoS{
		width: 60% !important;
	}
	.col2{
		margin-top: -1px !important;
	}
	.col34{
		margin-top: -42px !important;
	}
	.bloqueNa div{
		width: 100% !important;
		padding: 29px 30px 0px 48px !important;
	}
	.bloqueNa .textReq2{
		padding-bottom: 46px !important;
	}
}
@media only screen and (max-width: 664px) {
	.contactoCuadro{
		margin-left: 30px;
		width: 84%;
	}
	.observaciones{
		width: 100% !important;
	}
	.tambienP{
		margin: 32px 0px 24px 57px;
	}
	.contact{
		margin-bottom: 30px;
		width: 100%;
	}
}
@media only screen and (max-width: 664px) {
	.cajaPreg{
		margin-left: 36px !important;
	}
	.contenidoPreg{
		padding: 17px 0px 0px 0px !important;
		text-align: center;
	}
	.rmobile{
		margin-bottom: -43px;
	}
}