
article.body h1{
	text-align: center;
}
.syntaxhighlighter .toolbar{
	display: none !important;
}

.exemplo{
	padding: 20px; 
}


.ubiquese_caralho  { margin-left:10px; padding-top:5px; 
}

.alargate_la_concha_de_tu_madre { background:#999; padding:20px; height:inherit !important;
}


.titulitini { float:left; top:0;color:#333; font-size:18px; 
}




.itemsinini  { display: table-cell; height:30px; color:#666; font-size:15px; }

.itemsinini2 { display: table-cell; height:30px; color:#666; font-size:15px; margin-right:10px; }

.botoncitou { background-color:#1b3865; padding:10px; color:#FFF; border-radius: 8px; font-size:16px; font-family: 'Lato', sans-serif; margin-top:14px;
}

.marginalinini { padding-left:8px;
}

.naranjeatinini {  background-color:#F3A339; padding:10px; color:#FFF; border-radius: 12px; font-size:15px; font-family: 'Lato', sans-serif; margin-top:14px; border:none;
}

.naranjeatinini:hover {  background-color:#FF960E; padding:10px; color:#FFF; border-radius: 12px; font-size:15px; font-family: 'Lato', sans-serif; margin-top:14px; border:none; -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.azultequieronini {  background-color:#1b3865; padding:10px; color:#FFF; border-radius: 12px; font-size:15px; font-family: 'Lato', sans-serif; margin-top:14px; border:none;
}

.azultequieronini:hover {  background-color:#FF960E ; padding:10px; color:#FFF; border-radius: 12px; font-size:15px; font-family: 'Lato', sans-serif; margin-top:14px; border:none; -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.issn  { font-size:12px; line-height:12px; font-style: italic; color:#7C7B7B; 
}

.titunini_princ  { color:#777;    font-size:16px; line-height:16px; text-align:center; overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap; }



.s1 { font-size:12px; line-height:12px;
}

.titulinini { font-size:20px; line-height:30px; font-weight:bold; letter-spacing:2px; text-transform:uppercase;
}

.parrafinini { font-size:14px; line-height:14px; font-style: italic; 
}
 
 
 .inputinini { padding-left:10px; border-radius:8px; margin-left: 8px; background-color:#EDEDED; border:1px solid #EDEDED;
}
.botoncitou:hover { background-color:#f18b2a; padding:10px; color:#FFF; text-decoration:none; border-radius: 8px; font-size:16px; font-family: 'Lato', sans-serif; -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.descri_parrafo { font-size: 15px; text-align:justify; 
            
        }


.wmg-container {
	filter: alpha(opacity=0);
	font-family: empty;
	font-size: 0;
	opacity: 0;
	position: relative;
	width: 100%;
	zoom: 1
}
.wmg-container>* {
	font-family: 'Lato', sans-serif;
	font-size: 16px
}
.wmg-container img {
	max-width: 100%
}
.wmg-item {
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.wmg-thumbnail {
	height: 100%;
	text-align: center;
	
	width: 100%
}
.wmg-arrow {
	border-bottom: 10px solid;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent; margin-top:127px; 
	
	display: none;
	height: 0;
	position: absolute;
	width: 0;
	z-index: 999999999999999999999999999999999999999999;
}
.wmg-thumbnail-content { margin-bottom:160px;
}
.wmg-thumbnail-content img {
	vertical-align: middle
}
.wmg-details {
	left: 0;
	margin-top: 15px; 
	overflow: auto;
	position: absolute;
	width: 100%; 
}
.wmg-close {
	cursor: pointer;
	display: block;
	position: absolute;
	z-index: 9999999999999999999999999999999999999999999999999999999;
}


     .wmg-details-content { 
 background: #E9E9E9; 
}

/**
 *
 *	sample styles
 *  	- the following styles are just one example. You can customize at will
 *
 *
 **/
.wmg-container {
	background: #eeeeee; 
}
.wmg-thumbnail {
	background: #F2F2F2; 
	color: #ffffff;
	cursor: pointer; 
}
.wmg-arrow {
	border-bottom-color: #E9E9E9;
}
.wmg-close {
	background: url(assets/images/wmg-btn-close.png) no-repeat 0px 0px;
	display: block;
	height: 30px;
	right: 10px;
	top: 5px;
	width: 30px; z-index: 9999999999999999999999999999999999999999999999999999999;
}
.wmg-close:hover, .wmg-close:active {
	background-position: 0px -31px; z-index: 9999999999999999999999999999999999999999999999999999999; }

.wmg-container.open {
	background: #1b3865; 
}
.wmg-container.open .wmg-thumbnail {
	background: #666;  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	color: #666;  
}
.wmg-container.open .wmg-thumbnail.open {
	background: #E9E9E9;  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}
.wmg-container.open .wmg-thumbnail img { 
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;  
	
	
}



.wmg-container.open .wmg-thumbnail:hover img {
	-moz-opacity: 0.40;
	-khtml-opacity: 0.40;
	opacity: 0.40;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=40); 
}
.wmg-container.open .wmg-thumbnail.open img { 
	
}
